{% extends "index.html" %}
{% load thumbnail %}

{% block body %}
    <h1>Houses list</h1>

    {% for house in houses %}
        <div>
            <h2><a href="{% url 'house_detail' house_id=house.id %}">{{ house.name }}</a></h2>
            <div>{{ house.price }}</div>
            <div>{{ house.description }}</div>

            {% thumbnail house.photo "325x200" crop="center" as im %}
                <img src="{{ im.url }}" alt="House {{ house.name }}">
            {% endthumbnail %}
        </div>
    {% endfor %}
{% endblock %}
